<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title th:text="#{project_name}">Project name</title>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <link href="../../static/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/css/core.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header">
</div>
<div class="container">
    <div class="hero-unit">
        <h1 th:text="#{project_name}"></h1>

        <p th:utext="#{home_info}">
            Welcome to this application.
            Here are some features you might be interested in:
        </p>
        <ul>
            <li><a href="/templates/management">Manage users</a></li>
            <li><a href="/reports">Generate reports</a></li>
        </ul>

    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>