<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>
</head>
<body>
<!--/* Multiple fragments may be defined in one file */-->
<div th:fragment="footer">
    <hr/>
    <footer>
        <strong th:text="|&copy; #{footer_text}|">&copy; </strong>
    </footer>
</div>
</body>
</html>