<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../../../static/js/go.js"
            th:src="@{/js/go.js}"></script>

    <script src="../../../static/js/diagram.js"
            th:src="@{/js/diagram.js}"></script>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <link href="../../../static/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/css/core.css}"/>
    <link href="../../../static/css/diagram.css" rel="stylesheet" media="screen"
          th:href="@{/css/diagram.css}"/>

    <title th:text="#{project_name}">Project name</title>

</head>
<body onload="init_diagram()">
<div th:replace="fragments/header :: header">
</div>
<div class="container">

    <div class="well">

        <div class="panel panel-primary">
            <div class="panel-heading">

                <h3 class="panel-title" th:text="@{${add_new} ? 'Add diagram' : 'Edit diagram'}">Diagram #id&nbsp;&nbsp;

                    <span class="clickable panel-title" data-toggle="tooltip" title="Add new diagram"
                          data-container="body">
								<a href="#" th:href="@{/management/diagram/new/}"
                                   class="glyphicon glyphicon-plus-sign"></a>
                    </span>
                    &nbsp;&nbsp;
                    <span class="clickable filter" data-toggle="tooltip" title="Toggle table filter"
                          data-container="body">
								<i class="glyphicon glyphicon-filter"></i>
							</span>

                </h3>

                <div th:unless="${add_new}" class="pull-right input-group">
                    <a data-toggle="modal" href="#deleteModal" class="btn btn-default btn-danger btn-xs"
                       th:attr="data-id=${diagram.id}">
                        <span class="glyphicon glyphicon-remove-sign"></span>
                    </a>
                </div>
            </div>
            <div class="panel-body">
                <div id="blockPalette" class="diagramPalette"></div>

                <div id="blockDiagram" class="diagram"></div>
                <button id="SaveButton" onclick="save()">Save</button>
                <button onclick="load()">Load</button>
  <textarea id="mySavedModel" style="width:100%;height:300px;display: none;">
{ "class": "go.GraphLinksModel",
  "linkFromPortIdProperty": "fromPort",
  "linkToPortIdProperty": "toPort",
  "nodeDataArray": [
{"category":"Comment",  "text":"Kookie Brittle", "key":-13},
{"key":-1, "category":"Start","text":"Start"},
{"key":0, "text":"Preheat oveF"},
{"key":1,  "text":"In n salt"},
{"key":2,  "text":"Graduallyour"},
{"key":3,  "text":"Mix ls"},
{"key":4,  "text":"Press"},
{"key":5, "text":"Finely c"},
{"key":6,  "text":"Sprp"},
{"key":7,  "text":"Bakl"},
{"key":8,  "text":"Cut d"},
{"key":-2, "category":"End", "text":"End"}
 ],
  "linkDataArray": [
{"from":1, "to":2,  "fromPort":"OUT", "toPort":"IN"},
{"from":2, "to":3,  "fromPort":"OUT", "toPort":"IN"},
{"from":3, "to":4,  "fromPort":"OUT", "toPort":"IN"},
{"from":4, "to":6,  "fromPort":"OUT", "toPort":"IN"},
{"from":6, "to":7,  "fromPort":"OUT", "toPort":"IN"},
{"from":7, "to":8,  "fromPort":"OUT", "toPort":"IN"},
{"from":8, "to":-2, "fromPort":"OUT", "toPort":"IN"},
{"from":-1, "to":0, "fromPort":"OUT", "toPort":"IN"},
{"from":-1, "to":1, "fromPort":"OUT", "toPort":"IN"},
{"from":-1, "to":5, "fromPort":"OUT", "toPort":"IN"},
{"from":5, "to":4,  "fromPort":"OUT", "toPort":"IN"},
{"from":0, "to":4,  "fromPort":"OUT", "toPort":"IN"},
{"from":2, "to":4,  "fromPort":"OUT", "toPort":"IN"}
 ]}
  </textarea>

                <p>Click to save as a non interactive image.</p>
                <button onclick="makeSVG()">Render as SVG</button>
                <div id="SVGArea" class="text-center"></div>
            </div>

        </div>
    </div>

    <div id="deleteModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="btn btn-default" data-dismiss="modal"><span class="glyphicon glyphicon-remove"></span></a>
                    <h4 class="modal-title" id="deleteModalLabel">Disable confirmation</h4>
                </div>
                <div class="modal-body">
                    <p class="error-text">Are you sure you want to disable the diagram?</p>
                </div>
                <div class="modal-footer">
                    <form th:action="@{/management/diagram/disable}" action="/management/diagram/disable" method="post">
                        <input type="hidden" name="diagramId" id="entityId" class="form-control">
                          <span class="input-group-btn">
                              <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                              <button type="submit" class="btn btn-danger">Disable</button>
                          </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="genericModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="genericModal"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-body">
                    <p>One fine body</p>
                </div>
            </div>
        </div>
    </div>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>