<!DOCTYPE html SYSTEM "http://www.thymeleaf.org/dtd/xhtml1-strict-thymeleaf-spring4-4.dtd">
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/xhtml">

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="../../../static/js/go.js"
            th:src="@{/js/go.js}"></script>

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/bootstrap-tagsinput.js}"></script>

    <script th:src="@{/js/bootstrap3-typeahead.min.js}"></script>

    <script src="../../../static/js/diagram.js" th:src="@{/js/diagram.js}"></script>

    <script src="../../../static/js/custom.js" th:src="@{/js/custom.js}"></script>

    <link rel="stylesheet"
          href="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap-tagsinput/0.5/bootstrap-tagsinput.css"
          th:href="@{/css/bootstrap-tagsinput.css}" media="screen"/>

    <script th:src="@{/webjars/codemirror/5.5/lib/codemirror.js}"></script>
    <link rel="stylesheet" th:href="@{/webjars/codemirror/5.5/lib/codemirror.css}">
    <script th:src="@{/webjars/codemirror/5.5/mode/javascript/javascript.js}"></script>
    <script th:src="@{/webjars/codemirror/5.5/mode/ruby/ruby.js}"></script>

    <link href="../../../static/css/core.css" rel="stylesheet" media="screen"
          th:href="@{/css/core.css}"/>
    <link href="../../../static/css/diagram.css" rel="stylesheet" media="screen"
          th:href="@{/css/diagram.css}"/>

    <title th:text="#{project_name}">Project name</title>

</head>
<body onload="initDiagram()">
<div th:replace="fragments/header :: header">
</div>
<div class="container">

    <div class="well">

        <div class="panel panel-primary">
            <div class="panel-heading">
                <h3 class="panel-title" th:text="@{${add_new} ? 'Add diagram' : 'Edit diagram'}">Diagram #id </h3>
            </div>

            <div class="panel-body">
                <form class="form-horizontal" role="save" th:object="${diagram}" onsubmit="return saveDiagram()"
                      th:action="|${#httpServletRequest.getRequestURI()}/save|" method="post">
                    <fieldset>

                        <legend th:text="@{${add_new} ? 'Add diagram' : 'Edit diagram'}">Add diagram
                            <strong th:text="${diagram.name}" th:unless="${diagram == null}">diagram
                                name</strong>
                        </legend>

                        <input value="id" th:field="${diagram.id}" th:value="@{${add_new}? '' : ${diagram.id}}"
                               id="id" name="id" type="hidden">

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="name">Name</label>

                            <div class="col-md-10">
                                <input value="name" th:field="${diagram.name}"
                                       th:value="@{${add_new}? '' : ${diagram.name}}" id="name"
                                       required="Add a name!" name="name" placeholder="Diagram Name"
                                       class="form-control input-md" type="text">
                            </div>
                        </div>

                        <!-- Textarea -->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="description">Description</label>

                            <div class="col-md-10">
                    <textarea class="form-control" id="description" name="description" th:field="${diagram.description}"
                              th:text="@{${add_new}? '' : ${diagram.description}}"
                              placeholder="diagram additional details">
                        Descriere diagram
                    </textarea>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="description">Channel</label>

                            <div class="col-md-10">
                                <div id="channelForm" class="form-horizontal form-group channel-class">
                                    <input type="hidden" class="form-control" name="diagram.channel.id"
                                           th:field="${diagram.channel.id}"/>

                                    <div class="col-xs-3">
                                        <input type="text" class="form-control" name="channel.name"
                                               th:field="${diagram.channel.name}"
                                               placeholder="Name"/>
                                    </div>
                                    <div class="col-xs-3">
                                        <select class="form-control" name="channel.dataType">
                                            <option value="" selected disabled>Data Type</option>
                                            <option th:each="dataType : ${T(ro.pub.acse.sapd.data.DataType).values()}"
                                                    th:value="${dataType}" th:text="${dataType.value}"
                                                    th:selected="${dataType == diagram.channel.dataType}">
                                            </option>
                                        </select>
                                    </div>
                                    <input type="hidden" name="channel.inputPreprocessor" value="0"/>
                                </div>
                            </div>
                        </div>

                        <!-- Text input-->
                        <div class="form-group">
                            <label class="col-md-2 control-label" for="diagramTags">Tags</label>

                            <div class="col-md-10">
                                <input name="tags" id="diagramTags" type="text"/>
                                <script th:inline="javascript">
                                    var elt = $("#diagramTags");
                                    elt.tagsinput({
                                        itemValue: 'id',
                                        itemText: 'name',
                                        typeahead: {
                                            source: function () {
                                                return $.get('/tags/getTags');
                                            }
                                        }
                                    });
                                    var tags = /*[[${diagram?.tags}]]*/ [];
                                    if (tags) {
                                        $.each(tags, function (id, tag) {
                                            elt.tagsinput('add', {"id": tag.id, "name": tag.name});
                                        })
                                    }
                                </script>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="col-md-2 control-label" for="active">Active</label>

                            <div class="col-md-10">
                                <input name="active" id="active" type="checkbox" th:field="${diagram.active}">
                            </div>
                        </div>

                        <div id="blockPalette" class="diagramPalette bootstrapArea"></div>

                        <div id="blockDiagram" class="diagram bootstrapArea"></div>

                        <textarea id="diagramModel" name="code" th:field="${diagram.code}"
                                  th:text=" @{${add_new}? ${default_diagram} :  ${diagram.code}}"
                                  style="display: none;">
                        </textarea>

                        <div id="propertiesProcessorPanel" class="bootstrapArea propertiesPanel form-inline"
                             style="display: none;">
                            <div class="form-group">
                                <label for="blockName">Name</label>
                                <input type="text" class="form-control" id="blockName" placeholder="Block Name"
                                       onkeydown="if (event.keyCode == 13) {updateData(this.value, 'text'); return false;}">

                            </div>
                            <div class="form-group">
                                <label for="processorName">Processor</label>
                                <input type="hidden" class="form-control" id="processorId">
                                <input type="text" class="form-control" id="processorName" placeholder="Processor Name"
                                       autocomplete="off" onkeydown="if (event.keyCode == 13) { return false;}">
                                <script>
                                    var blocks = $.getJSON('/blocks/getBlocks', function (data) {
                                        var elt = $("#processorName");
                                        elt.typeahead({
                                            source: data,
                                            autoSelect: true,
                                            afterSelect: function (currItem) {
                                                $('#blockId').val(currItem.id);
                                                updateData(currItem.id, 'blockId');
                                                updateData(currItem.name, 'internalType');
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="form-group">
                                <label for="blockComments">Comments</label>
                                <input type="text" class="form-control" id="blockComments" placeholder="Comment"
                                       onkeydown="if (event.keyCode == 13) {updateData(this.value, 'comments'); return false;}">

                            </div>
                            <div class="form-group">
                                <a id="blockEditAnchor" href="/management/block/{blockId}(blockId=${block.id})"
                                   class="render-modal btn btn-default btn-warning">
                                    Edit Preprocessor Block
                                </a>
                            </div>
                        </div>

                        <div id="propertiesChannelPanel" class="bootstrapArea propertiesPanel form-inline"
                             style="display: none;">
                            <div class="form-group">
                                <label for="blockChannelName">Name</label>
                                <input type="text" class="form-control" id="blockChannelName" placeholder="Block Name"
                                       onkeydown="if (event.keyCode == 13) {updateData(this.value, 'text'); return false;}">

                            </div>
                            <div class="form-group">
                                <label for="processorName">Channel</label>
                                <input type="hidden" class="form-control" id="channelId">
                                <input type="text" class="form-control" id="channelName" placeholder="Channel Name"
                                       autocomplete="off" onkeydown="if (event.keyCode == 13) { return false;}">
                                <script>
                                    var blocks = $.getJSON('/blocks/getChannels', function (data) {
                                        var elt = $("#channelName");
                                        elt.typeahead({
                                            source: data,
                                            autoSelect: true,
                                            afterSelect: function (currItem) {
                                                $('#channelId').val(currItem.id);
                                                updateData(currItem.id, 'blockId');
                                                updateData(currItem.name, 'internalType');
                                            }
                                        });
                                    });
                                </script>
                            </div>
                            <div class="form-group">
                                <label for="blockChannelComments">Comments</label>
                                <input type="text" class="form-control" id="blockChannelComments" placeholder="Comment"
                                       onkeydown="if (event.keyCode == 13) {updateData(this.value, 'comments'); return false;}">

                            </div>
                        </div>

                        <div id="SVGArea" class="text-center" style="margin-bottom: 5px;"></div>
                        <div class="form-group">
                            <div class="pull-right" style="padding-right: 15px;">
                                <button th:unless="${add_new}" type="button" name="" class="btn btn-danger"
                                        data-toggle="modal" data-target="#deleteModal" th:attr="data-id=${diagram.id}">
                                    Delete
                                </button>
                                <button type="button" onclick="makeSVG()" name="" class="btn btn-info">Render
                                    SVG
                                </button>

                                <button name="save" class="btn btn-success">Save</button>
                            </div>
                        </div>
                    </fieldset>
                </form>
            </div>
        </div>
    </div>
    <div id="deleteModal" class="modal fade in" tabindex="-1" role="dialog"
         aria-labelledby="deleteModalLabel"
         aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="btn btn-default" data-dismiss="modal"><span
                            class="glyphicon glyphicon-remove"></span></a>
                    <h4 class="modal-title" id="deleteModalLabel">Disable confirmation</h4>
                </div>
                <div class="modal-body">
                    <p class="error-text">Are you sure you want to disable the diagram?</p>
                </div>

                <div class="modal-footer">
                    <form th:action="@{/management/diagram/disable}" action="/management/diagram/disable"
                          method="post">
                        <input type="hidden" name="diagramId" id="entityId" class="form-control">
                          <span class="input-group-btn">
                              <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                              <button type="submit" class="btn btn-danger">Disable</button>
                          </span>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <div id="genericModal" class="modal fade in" tabindex="-1" role="dialog" aria-labelledby="genericModal"
         aria-hidden="true">
        <div class="modal-dialog" style="width: 900px;">
            <div class="modal-content">
                <div class="modal-body">
                    <p>One fine body</p>
                </div>
            </div>
        </div>
    </div>
    <script> $('#genericModal').on('shown.bs.modal', function () {
        codeMirror = CodeMirror.fromTextArea($("#blockFunction")[0], {
            autoCloseTags: true,
            lineNumbers: true,
            fixedGutter: true,
            lineWrapping: true,
            autoCloseBrackets: true
        });
        window.codeMirror.setOption("mode", $('#blockType').val().toLowerCase());
    });
    </script>
    <div th:replace="fragments/footer :: footer">&copy; 2014 The Static Templates</div>
</div>
</body>
</html>