<div xmlns:th="http://www.w3.org/1999/xhtml" class="pageContent">

    <link href="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/css/bootstrap.min.css"
          th:href="@{/webjars/bootstrap/3.3.5/css/bootstrap.min.css}"
          rel="stylesheet" media="screen"/>

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/bootstrap-tagsinput.js}"></script>

    <script th:src="@{/js/bootstrap3-typeahead.min.js}"></script>

    <link rel="stylesheet"
          href="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap-tagsinput/0.5/bootstrap-tagsinput.css"
          th:href="@{/css/bootstrap-tagsinput.css}" media="screen"/>

    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span>
    </button>

    <form class="form-horizontal" role="save" th:object="${input}"
          th:action="|${#httpServletRequest.getRequestURI()}/save|" method="post">
        <fieldset>

            <legend th:text="@{${add_new} ? 'Add input' : 'Edit input'}">Add input
                <strong th:text="${input.name}" th:unless="${input == null}">input
                    name</strong>
            </legend>

            <input value="id" th:field="${input.id}" th:value="@{${add_new}? '' : ${input.id}}" id="id"
                   name="id" type="hidden">

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Input Name</label>

                <div class="col-md-6">
                    <input value="name" th:field="${input.name}"
                           th:value="@{${add_new}? '' : ${input.name}}" id="name"
                           required="Add a name for the input!" name="name" placeholder="Input Name"
                           class="form-control input-md" type="text">
                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="tags">Tags</label>

                <div class="col-md-6">
                    <input name="tags" id="tags" type="text"
                           data-role="tagsinput"/>
                    <script th:inline="javascript">
                        var elt = $("#tags");
                        elt.tagsinput({
                            itemValue: 'id',
                            itemText: 'name',
                            typeahead: {
                                source: function () {
                                    return $.get('/tags/getTags');
                                }
                            }
                        });
                        var tags = /*[[${input.tags}]]*/ [];
                        $.each(tags, function (id, tag) {
                            elt.tagsinput('add', {"id": tag.id, "name": tag.name});
                        })

                    </script>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>

                <div class="col-md-6">
                    <textarea class="form-control" id="description" name="description" th:field="${input.description}"
                              th:text="@{${add_new}? '' : ${input.description}}"
                              placeholder="input additional details">
                        Descriere input
                    </textarea>
                </div>
            </div>

            <div class="form-group">
                <label class="col-md-4 control-label" for="active">Active</label>

                <div class="col-md-6">
                    <input name="active" id="active" type="checkbox" th:field="${input.active}"
                           th:checked="@{${add_new} || ${input.active}}">
                </div>
            </div>


            <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                    <div class="panel-heading" role="tab" id="channelsHeader">
                        <h4 class="panel-title">
                            <a data-toggle="collapse" data-parent="#accordion" href="#channelsCollapse"
                               aria-expanded="false" aria-controls="channelsCollapse" class="collapsed">
                                Input channels
                            </a>
                        </h4>
                    </div>
                    <div id="channelsCollapse" class="panel-collapse collapse" role="tabpanel"
                         aria-labelledby="channelsHeader" style="height: 0;">
                        <div class="panel-body">
                            <div id="channelForm" class="form-horizontal">
                                <div class="form-group">
                                    <button type="button" class="btn btn-default addButton">
                                        <span class="glyphicon glyphicon-plus "
                                              aria-hidden="true">Add new Channel</span>
                                    </button>
                                </div>
                                <div th:unless="${add_new}" th:each="channel, stat: ${input.channels}"
                                     class="form-group channel-class"
                                     data-channel-index="0" th:attr="data-channel-index=${stat.index}">
                                    <input type="hidden" class="form-control" name="channels[0].id"
                                           th:name="channels[ + ${stat.index} + ].id" th:value="${channel.id}"/>

                                    <div class="col-xs-3 horizontal-form-padding">
                                        <input type="text" class="form-control" name="channels[0].name"
                                               th:name="channels[ + ${stat.index} + ].name" th:value="${channel.name}"
                                               placeholder="Name"/>
                                    </div>
                                    <div class="col-xs-3 horizontal-form-padding">
                                        <select class="form-control" name="channels[0].dataType"
                                                th:name="channels[ + ${stat.index} + ].dataType">
                                            <option value="" selected disabled>Data Type</option>
                                            <option th:each="dataType : ${T(ro.pub.acse.sapd.data.DataType).values()}"
                                                    th:value="${dataType}" th:text="${dataType.value}"
                                                    th:selected="${dataType == channel.dataType}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 horizontal-form-padding">
                                        <input type="hidden" th:name="channels[ + ${stat.index} + ].inputPreprocessor"
                                               th:value="@{${channel.inputPreprocessor != null}? ${channel.inputPreprocessor.id} : 0}"/>
                                        <input type="text" class="form-control inputPreprocessor"
                                               name="channels[0].inputPreprocessorName"
                                               th:name="channels[ + ${stat.index} + ].inputPreprocessorName"
                                               placeholder="Input Preprocessor" autocomplete="off"
                                               th:value="${channel.inputPreprocessor?.name}"/>
                                    </div>
                                    <div class="col-xs-1 horizontal-form-padding">
                                        <button type="button" class="btn btn-default removeButton">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                                <div th:if="${add_new} or ${input.channels.size() == 0} "
                                     class="form-group channel-class"
                                     data-channel-index="0">
                                    <input type="hidden" class="form-control" name="channels[0].id"/>

                                    <div class="col-xs-3 horizontal-form-padding">
                                        <input type="text" class="form-control" name="channels[0].name"
                                               placeholder="Name"/>
                                    </div>
                                    <div class="col-xs-3 horizontal-form-padding">
                                        <select class="form-control" name="channels[0].dataType">
                                            <option value="" selected disabled>Data Type</option>
                                            <option th:each="dataType : ${T(ro.pub.acse.sapd.data.DataType).values()}"
                                                    th:value="${dataType}" th:text="${dataType.value}">
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 horizontal-form-padding">
                                        <input type="hidden" name="channels[0].inputPreprocessor" value="0"/>
                                        <input type="text" class="form-control inputPreprocessor"
                                               name="channels[0].inputPreprocessorName" autocomplete="off"
                                               placeholder="Input Preprocessor"/>
                                    </div>
                                    <div class="col-xs-1 horizontal-form-padding">
                                        <button type="button" class="btn btn-default removeButton">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>


                                <!-- The template for adding new field -->
                                <div class="form-group hide channel-class" id="channelTemplate">
                                    <input type="hidden" class="form-control" name="idc"/>

                                    <div class="col-xs-3 horizontal-form-padding">
                                        <input type="text" class="form-control" name="namec" placeholder="Name"/>
                                    </div>
                                    <div class="col-xs-3 horizontal-form-padding">
                                        <select class="form-control" name="dataTypec">
                                            <option value="" selected disabled>Data Type</option>
                                            <option th:each="dataType : ${T(ro.pub.acse.sapd.data.DataType).values()}"
                                                    th:value="${dataType}" th:text="${dataType.value}"
                                            ></option>
                                        </select>
                                    </div>
                                    <div class="col-xs-4 horizontal-form-padding">
                                        <input type="hidden" name="inputPreprocessorc" value="0"/>
                                        <input autocomplete="off" type="text" class="form-control inputPreprocessor"
                                               name="inputPreprocessorNamec" placeholder="Input Preprocessor"/>
                                        <script>
                                            var blocks = $.getJSON('/blocks/getBlocks', function (data) {
                                                var elt = $(".inputPreprocessor");
                                                elt.typeahead({
                                                    source: data,
                                                    autoSelect: true,
                                                    afterSelect: function (currItem) {
                                                        $('[name="' +  elt.attr("name").slice(0, -4) + '"').val(currItem.id);
                                                    }
                                                });
                                            });
                                        </script>
                                    </div>
                                    <div class="col-xs-1 horizontal-form-padding">
                                        <button type="button" class="btn btn-default removeButton">
                                            <span class="glyphicon glyphicon-minus" aria-hidden="true"></span>
                                        </button>
                                    </div>
                                </div>
                            </div>

                            <script th:inline="javascript">
                                $(document).ready(function () {
                                    var channelIndex = 0;
                                    // find the minimum index of already added channels
                                    $(".channel-class").each(function () {
                                        if ($(this).attr('data-channel-index') > channelIndex) {
                                            channelIndex = $(this).attr('data-channel-index');
                                        }
                                    });

                                    $('#channelForm')
                                        // Add button click handler
                                            .on('click', '.addButton', function () {
                                                channelIndex++;
                                                var $template = $('#channelTemplate');
                                                var $clone = $template.clone().removeClass('hide').removeAttr('id')
                                                        .attr('data-channel-index', channelIndex).insertBefore($template);

                                                // Update the name attributes
                                                $clone.find('[name="namec"]').attr('name', 'channels[' + channelIndex + '].name').end()
                                                        .find('[name="dataTypec"]').attr('name', 'channels[' + channelIndex + '].dataType').end()
                                                        .find('[name="inputPreprocessorc"]').attr('name', 'channels[' + channelIndex + '].inputPreprocessor').end()
                                                        .find('[name="inputPreprocessorNamec"]').attr('name', 'channels[' + channelIndex + '].inputPreprocessorName').end()
                                                        .find('[name="idc"]').attr('name', 'channels[' + channelIndex + '].id').end();
                                                $.getJSON('/blocks/getBlocks', function (data) {
                                                    var elt = $clone.find('[name="channels[' + channelIndex + '].inputPreprocessorName' + '"]') ;
                                                    elt.typeahead({
                                                        source: data,
                                                        autoSelect: true,
                                                        afterSelect: function (currItem) {
                                                            $('[name="' +  elt.attr("name").slice(0, -4) + '"').val(currItem.id);
                                                        }
                                                    });
                                                });
                                            })
                                        // Remove button click handler
                                            .on('click', '.removeButton', function () {
                                                var $row = $(this).parents('.form-group');
                                                var index = $row.attr('data-channel-index');
                                                // push back all the elements with a index larger that this one
                                                $(".channel-class").each(function () {
                                                    var curr_index = $(this).attr('data-channel-index');
                                                    if (curr_index > index) {
                                                        var new_index = curr_index - 1;
                                                        $(this).attr('data-channel-index', new_index);
                                                        $(this).find("[name='channels[" + curr_index + "].name']").attr('name', 'channels[' + new_index + '].name').end()
                                                                .find("[name='channels[" + curr_index + "].dataType']").attr('name', 'channels[' + new_index + '].dataType').end()
                                                                .find("[name='channels[" + curr_index + "].inputPreprocessor']").attr('name', 'channels[' + new_index + '].inputPreprocessor').end()
                                                                .find("[name='channels[" + curr_index + "].inputPreprocessorName']").attr('name', 'channels[' + new_index + '].inputPreprocessorName').end()
                                                                .find("[name='channels[" + curr_index + "].id']").attr('name', 'channels[' + new_index + '].id').end();
                                                    }
                                                });
                                                channelIndex--;
                                                // Remove element containing the fields
                                                $row.remove();
                                            });
                                });
                            </script>
                        </div>
                    </div>
                </div>
            </div>

            <div class="modal-footer form-group">
                          <span class="input-group-btn">
                              <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                          <button id="save" name="save" class="btn btn-primary">Save</button>
                          </span>
            </div>
        </fieldset>
    </form>
</div>