<div xmlns:th="http://www.w3.org/1999/xhtml" class="pageContent">

    <script src="http://cdn.jsdelivr.net/webjars/jquery/2.1.4/jquery.min.js"
            th:src="@{/webjars/jquery/2.1.4/jquery.min.js}"></script>

    <script src="http://cdn.jsdelivr.net/webjars/bootstrap/3.3.5/js/bootstrap.min.js"
            th:src="@{/webjars/bootstrap/3.3.5/js/bootstrap.min.js}"></script>

    <script th:src="@{/js/bootstrap-tagsinput.js}"></script>

    <script th:src="@{/js/bootstrap3-typeahead.min.js}"></script>

    <link rel="stylesheet"
          href="http://cdn.jsdelivr.net/webjars/org.webjars/bootstrap-tagsinput/0.5/bootstrap-tagsinput.css"
          th:href="@{/css/bootstrap-tagsinput.css}" media="screen"/>

    <form class="form-horizontal" role="save" th:object="${input}"
          th:action="|${#httpServletRequest.getRequestURI()}/save|" method="post">
        <fieldset>

            <legend th:text="@{${add_new} ? 'Add input' : 'Edit input'}">Add input
                <strong th:text="${input.name}" th:unless="${input == null}">input
                    name</strong>
            </legend>

            <input value="id" th:field="${input.id}" th:value="@{${add_new}? '' : ${input.id}}" id="id"
                   name="id" type="hidden">

            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="name">Input Name</label>

                <div class="col-md-6">
                    <input value="name" th:field="${input.name}"
                           th:value="@{${add_new}? '' : ${input.name}}" id="name"
                           required="Add a name for the input!" name="name" placeholder="Input Name"
                           class="form-control input-md" type="text">
                </div>
            </div>


            <!-- Text input-->
            <div class="form-group">
                <label class="col-md-4 control-label" for="tags">Tags</label>

                <div class="col-md-6">
                    <input name="tags" id="tags" type="text" th:value="@{${add_new}? '' : ${input.tags}}"
                           data-role="tagsinput"/>
                    <script th:inline="javascript">
                        var elt = $("#tags");
                        elt.tagsinput({
                            itemValue: 'id',
                            itemText: 'name',
                            typeahead: {
                                source: function () {
                                    return $.get('/tags/getTags');
                                }
                            }
                        });
                        var tags = /*[[${input.tags}]]*/ [];
                        $.each(tags, function (id, tag) {
                            elt.tagsinput('add', {"id": tag.id, "name": tag.name});
                        })

                    </script>
                </div>
            </div>

            <!-- Textarea -->
            <div class="form-group">
                <label class="col-md-4 control-label" for="description">Description</label>

                <div class="col-md-6">
                    <textarea class="form-control" id="description" name="description" th:field="${input.description}"
                              th:text="@{${add_new}? '' : ${input.description}}"
                              placeholder="input additional details">
                        Descriere input
                    </textarea>
                </div>
            </div>

            <div class="control-group">
                <label class="col-md-4 control-label" for="active">Active</label>

                <div class="controls">
                    <input name="active" id="active" type="checkbox" th:field="${input.active}"
                           th:checked="@{${add_new} || ${input.active}}">
                </div>
            </div>

            <div class="modal-footer form-group">
                          <span class="input-group-btn">
                              <button class="btn btn-info" data-dismiss="modal" aria-hidden="true">Cancel</button>
                          <button id="save" name="save" class="btn btn-primary">Save</button>
                          </span>
            </div>
        </fieldset>
    </form>

</div>